.grid{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.grid article img{
    width: 100%;
}
