*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container .container__board{
    width: 20%;
    height: 360px;
    background-color: burlywood;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    border: 7px solid brown;
}

.container .container__board .board__box{
    width: 45%;
    background-color: black;
    color: white;
    height: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 5em;
    font-weight: bold;
    cursor: pointer;
    border: 7px solid blanchedalmond;
}

.container .container__board .board__box--buttons{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background-color: transparent;
    border: none;
}

.container .container__board .board__box--buttons .buttons__button--fillBoard{
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}