*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}