{% extends 'base.html.twig' %}

{% block title %}Alumnado matriculado{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Alumnado matriculado en {{ instrumento.Nombre }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for matricula in instrumento.Matricula %}
            <tr>
                <td>{{ matricula.Alumno.NombreApellidos }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
