*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: royalblue;
    height: 75px;
    padding: 30px;
}

#nav{
    background-color: purple;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(13, 1fr);
    width: 25%;
    height: 100vh;
    float: right;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

#nav a{
    color: white;
}

#checkbox{
    float: right;
}

#checkbox:checked + #nav{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}