*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#header1{
    background-color: gainsboro;
    color: orange;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid green;
}

nav{
    background-color: royalblue;
    width: 60%;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    font-weight: bold;
}

nav > ul > li{
    display: inline-block;
    padding: 20px;
    margin-left: 120px;
    width: 160px;
    text-align: center;
    position: relative;
}

nav > ul > li > ul{
    display: none;
    position: absolute;
}

nav > ul > li:nth-child(2):hover{
    background-color: black;
}

nav > ul > li:nth-child(2):hover > ul{
    display: block;
    background-color: black;
    width: 160px;
    margin-top: 20px;
    right: 0%;
}

nav > ul > li:nth-child(2):hover > ul > li{
    padding: 20px;
}

nav > ul > li:nth-child(2):hover > ul > li:hover{
    background-color: orangered;
}

section:first-of-type ul{
    background: lightblue;
    width: 160px;
}

section:first-of-type ul > li{
    border-right: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    text-align: center;
    padding: 5px;
}

section:first-of-type ul > li::before{
    content: "👉  ";
}

section:first-of-type ul > li:hover{
    background-color: orangered;
}

section:first-of-type ul > li > a{
    color: black;
}

#header2{
    background-color: gray;
    color: orange;
    text-align: center;
    padding: 30px;
    border-bottom: 3px solid green;
}

section:last-of-type{
    margin: 0 auto;
    width: 40%;
}

section:last-of-type div{
    display: inline-block;
    padding: 20px;
    margin-left: 25px;
}

section:last-of-type div:hover{
    background-color: lightblue;
}

footer{
    background: black;
    overflow: auto;
    padding: 30px;
}

footer a{
    color: royalblue;
    font-size: 20px;
    font-weight: bold;
}

footer > div:first-child{
    float: left;
}

footer > div:last-child{
    float: right;
}

footer > div:first-child > a::before{
    content: "<< ";
}

footer > div:last-child > a::after{
    content: " >>";
}

footer > div > a:hover{
    color: #006196;
    text-decoration: underline;
}