*{
    box-sizing: border-box;
}

p{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5rem;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

p:first-of-type{
    border-bottom-right-radius: 50px;
    width: 200px;
}

p:nth-of-type(2){
    border-bottom-right-radius: 40px 25px;
    width: 200px;
}

p:nth-of-type(3){
    border-bottom-right-radius: 40px 80px;
    width: 200px;
}

p:nth-of-type(4){
    border-radius: 50px 150px 50px 150px;
    width: 200px;
}

p:nth-of-type(5){
    border-radius: 30px 40px 30px 40px;
    width: 200px;
}

p:last-of-type{
    border-radius: 50px;
}
