*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.div-container{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
}

.div-container:hover div:nth-of-type(odd)::before{
    transform: translateY(-100%);
    visibility: visible;
}

.div-container:hover div:nth-of-type(even)::before{
    transform: translateY(100%);
    visibility: visible;
}

div{
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

div::before{
    content: "";
    background-color: black;
    color: white;
    position: absolute;
    padding: 10px;
    right: 0;
    left: 0;
    transition: transform 1s ease, visibility 1s;   
    visibility: hidden;
}

div:nth-of-type(odd)::before{
    top: 100%;
}

div:nth-of-type(even)::before{
    bottom: 100%;
}

div:first-of-type::before{
    content: "W";
}

div:nth-of-type(2):before{
    content: "O";
}

div:nth-of-type(3)::before{
    content: "R";
}

div:nth-of-type(4)::before{
    content: "L";
}

div:last-of-type::before{
    content: "D";
}



/* @keyframes hoverUp {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(100%);
    }
}

@keyframes hoverDown {
    from{
        transform: translateY(100%);
    }

    to{
        transform: translateY(0);
    }
} */