/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #121212;
    --color-secondary: lightgrey;
    --color-gradient: linear-gradient(to right, #ad2b98, #519af4);
}

body{
    font-family: "Poppins";
    background-color: black;
}

ul, li { list-style: none; }

a { text-decoration: none; }

/* HEADER */
header{
    background-color: black;
    padding: 20px;
}

header .header__container{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > .header__container > .header__logins > .header__logins-link--secondary{
    color: var(--color-secondary);
    font-weight: bold;
    margin-right: 40px;
}

header > .header__container > .header__logins > .header__logins-link--secondary:hover{
    color: white;
}

header > .header__container > .header__logins > .header__logins-link--primary{
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

header > .header__container > .header__logins > .header__logins-link--primary:hover{
    background-color: whitesmoke;
}

header .header__container .logo{
    width: 35px;
    height: 35px;
}

header > .header__container > .header__icons > .header__icon{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 30px;
    padding: 10px;
}

header > .header__container > .header__icons{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    width: 40%;
}

header > .header__container > .header__icons > .header__icon:last-child{
    width: 80%;
    position: relative;
}

header > .header__container > .header__icons > .header__icon:hover{
    background-color: darkslategrey;
    color: white;
}

header > .header__container > .header__icons > .header__icon:first-child:hover{
    cursor: pointer;
}

header > .header__container > .header__icons > .header__icon > a:hover{
    cursor: pointer;
}

header > .header__container > .header__icons > .header__icon:last-child > a:nth-child(2){
    position: absolute;
    right: 5%;
    top: 35%;
}

header > .header__container > .header__icons > .header__icon:last-child > input{
    background-color: transparent;
    border: none;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    width: 80%;
}

header > .header__container > .header__icons > .header__icon:last-child > input:focus{
    outline: none;
}

/* ASIDE */
main{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

aside{
    width: 30%;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    height: 550px;
}

/* LIBRARY */
.aside__container-library{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

.aside__container-library > .aside__library-item--primary{
    width: 50%;
}

.aside__container-library > .aside__library-item--secondary:hover{
    color: white;
}

.aside__container-library > .aside__library-item--primary:hover{
    color: white;
}

.aside__container-library > .aside__library-item{
    color: var(--color-secondary);
    cursor: pointer;
}

.aside__container-library > .aside__library-item--primary > h3{
    display: inline;
}

/* FIRST-PLAYLIST */
.aside__container-firstPlaylist{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.aside__container-firstPlaylist .aside__firstPlaylist-item{
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
}

.aside__container-firstPlaylist .aside__firstPlaylist-item .aside__firstPlaylist-title{
    color: white;
    font-size: 16px;
}

.aside__container-firstPlaylist .aside__firstPlaylist-item .aside__firstPlaylist-paragraph{
    color: white;
}

.aside__container-firstPlaylist .aside__firstPlaylist-item a{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
}

.aside__container-firstPlaylist .aside__firstPlaylist-item a:hover{
    background-color: whitesmoke;
}

/* NAV-LINKS */
.aside__container-navLinks{
    margin-top: 30px;
}

.aside__container-navLinks .aside__navLinks-item .aside__navLink{
    font-size: 10px;
    padding: 5px;
    color: var(--color-secondary);
}

.aside__container-navLinks .aside__navLinks-item .aside__navLink--modifier{
    display: block;
    color: white;
    width: 10%;
}

.aside__container-navLinks .aside__navLinks-item .aside__navLink--modifier:hover{
    text-decoration: underline;
}

.aside__container-navLinks .aside__navLinks-item--secondary{
    color: white;
    border: 1px solid var(--color-secondary);
    border-radius: 30px;
    width: 45%;
    text-align: center;
    font-size: 12px;
}

.aside__container-navLinks .aside__navLinks-item--secondary a:last-child{
    color: white;
}

.aside__container-navLinks .aside__navLinks-item--secondary:hover{
    border: 1px solid white;
}