*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flip-card{
    border: thick solid black;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    position: relative;
    cursor: pointer;
    perspective: 10rem;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.flip-card:hover{
    transform: rotateY(180deg);
}

.flip-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-face{
    height: 100%;
    width: 100%;
}

.flip-face{
    position: absolute;
    backface-visibility: hidden;
}

.flip-front{
    transform: rotateY(0deg);
}

.flip-back{
    transform: rotateY(180deg);
}