<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de citas</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <h4>Agenda de citas</h4>
    <ul>
        {% for cita in agenda %}
            <li>{{cita.descripcion}} -- {{cita.fecha}}</li>
        {% empty %}
            <li>La agenda está vacía</li>
        {% endfor %}
    </ul>
    
</body>
</html>